@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body {
    font-family: 'Outfit', sans-serif;
}
.loading-lines {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.loading-lines div {
  width: 8px;
  height: 40px;
  background: #3b82f6; /* Blue color */
  animation: loading 1.2s infinite ease-in-out;
}

.loading-lines div:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-lines div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loading {
  0%,
  100% {
    transform: scaleY(0.4);
  }
  50% {
    transform: scaleY(1);
  }
}
